<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/form.css"/>
    <!--日期控件-->
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

    <title>rentBill-update</title>

</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">房屋房租需求管理</h3>
            </div>
            <div class="panel-body">
                <!--提示信息-->
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>提示：</strong> 标*为必填项，请认真填写
                </div>

                <!--表单-->

                <form class="form-horizontal" action="#" method="post">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">发起人</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-inp-static"
                                   name="Applicant"
                                   th:value="${username}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">发起单位</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-inp-static"
                                   name="Unit"
                                   th:value="${unit}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">发起部门</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-inp-static"
                                   name="Department"
                                   th:value="${department}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">发起日期</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-inp-static"
                                   name="LaunchDate"
                                   th:value="${launchDate}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-inp-static"
                                   name="Description"
                                   th:value="${description}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人</label>
                        <div class="col-sm-4">
                            <input type="text"
                                   class="form-control"
                                   name="Contact"
                                   placeholder="联系人" />
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-4">
                            <input type="tel"
                                   class="form-control"
                                   name="ContactNo"
                                   placeholder="发起人的联系方式" />
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">租赁性质</label>
                        <div class="col-sm-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="rentNature" value="charterIn"  />
                                    	租入
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="rentNature" value="rentOut" />
                                    	租出
                                </label>
                            </div>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">来自年度租赁计划</label>
                        <div class="col-sm-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="yearPlan" value="true"  />
                                    是
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="yearPlan" value="false" />
                                    否
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类</label>
                        <div class="col-sm-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="rentType" value="businessHall" />
                                    营业厅
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="rentType" value="nonBusinessHall" />
                                    非营业厅
                                </label>
                            </div>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">房屋用途</label>
                        <div class="col-sm-4">
                            <select name="Purpose" class="form-control">
                                <option value="0">请选择房屋用途</option>
                            </select>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="rentOutLabel">

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">租赁开始日期</label>
                        <div class="col-sm-3">
                            <input type="text"
                                   class="form-control formDateStart"
                                   size="16"
                                   name="startTime"
                                   value=""
                                   data-date-format="yyyy-mm-dd"
                                   data-link-field="dtpInp1"
                                   data-link-format="yyyy-mm-dd"/>
                        </div>
                        <input type="hidden" id="dtpInp1" value="" />
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">租赁结束日期</label>
                        <div class="col-sm-3">
                            <input type="text"
                                   class="form-control formDateEnd"
                                   size="16"
                                   name="endTime"
                                   value=""
                                   data-date-format="yyyy-mm-dd"
                                   data-link-field="dtpInp2"
                                   data-link-format="yyyy-mm-dd" />
                        </div>
                        <input type="hidden" id="dtpInp2" value="" />
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">房屋租赁年租金</label>
                        <div class="col-sm-2">
                            <input type="text"
                                   class="form-control"
                                   name="annualRent"
                                   placeholder="房屋租赁年租金" />
                        </div>
                        <div class="col-sm-1">
                            <p class="form-control-static"> 万元 </p>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">房屋租赁合同金额</label>
                        <div class="col-sm-2">
                            <input type="text"
                                   class="form-control"
                                   name="leaseContractMoney"
                                   placeholder="房屋租赁合同金额" />
                        </div>
                        <div class="col-sm-2">
                            <p class="form-control-static"> 元/平方米/天 </p>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">需求情况说明</label>
                        <div class="col-sm-7">
                            <textarea class="form-control"
                                      id="remarks"
                                      name="comment"
                                      rows="3"
                                      placeholder="请输入您的意见"></textarea>
                        </div>
                        <span class="emMark">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">附件</label>
                        <div class="col-sm-4">
                            <div class="input-group attachText">
                                <div class="form-control" th:text="${bill.Attachment}"></div>
                                <a class="btn input-group-addon" type="button">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <input th:title="${bill.Attachment}" type="file" class="form-control" id="RentUpdateFile" onchange="loadFile(this.files[0])" />
                                    	上传</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="javaScript:;" class="btn btn-default">提交</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tasksLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javaScript:;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <h4 class="modal-title">请选择调配房间！</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="input-group"
                                  id="searchRoomForm"
                                  method="post" >
                                <input type="text"
                                       class="form-control"
                                       id="roomNameSearch"
                                       placeholder="请输入搜索条件...">
                                <span class="input-group-btn">
                                    <a href="javaScript:;"
                                       class="btn btn-default"
                                       id="roomNameBtn">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </a>
                                </span>
                            </form><!-- /input-group -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row-->

                    <div class="searchResultList">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="3%"></th>
                                <th width="25%">房间名称</th>
                                <th width="72%">房间地址</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div><!-- /.searchResultList-->

                    <!--/page 分页-->
                    <div aria-label="Page navigation" class="pull-right pages-box">
                        <ul class="pagination" id="modalListPages"></ul>
                    </div><!--/Page-->


                </div><!-- /.modal-body-->

                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">取消</a>
                    <a class="btn btn-primary" id="getDataBtn"  data-dismiss="modal">确定</a>
                </div><!-- /.modal-footer-->
            </div><!-- /."modal-content-->
        </div><!-- /.modal-dialog-->
    </div><!-- /.modal-->

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.fr.js"></script>
    <script src="/js/rentBillAdd.js"></script>
    <script>

        function loadFile(file){
            $(".attachText div").text(file.name);
        }

        $('.formDateStart').datetimepicker({//开始时间
            language:  'fr',
            weekStart: 0,
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,   //首先显示的页面
            minView: 2,     //所能显示最精确的单位
            forceParse: 0
        }).on('changeDate', function(ev){//日期改变时
//            console.log($("#dtpInp1").val());
            $('.formDateEnd').datetimepicker('setStartDate',$("#dtpInp1").val());//设置新的起始日期
        });
        $('.formDateEnd').datetimepicker({//结束时间
            language:  'fr',
            weekStart: 0,
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

    </script>
</body>
</html>